<div id="section-benefits" >
  <div class="block block-main-feature benefit-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md text-center">
          <img src="img/benefit-01.png" class="img-fluid rounded benefit-img" data-enter="fadein" style="transform: translateY(70px)">
        </div>
        <div class="col-md mt-4 mt-md-0">
          <h2>Get friendly with your local.</h2>
          <p>
            Become a regular at all your favourite spots, tap to order your favourite snacks and sips,
            and get to know the guys that make your day, everyday.
          </p>
          <p><a href="#download" class="btn btn-outline-light">Find Me</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="block block-main-feature benefit-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md">
          <h2>Check out what’s good today.</h2>
           <p>
             Some days are toastie days. Other days it’s bacon all the way.
             Check out what your local spot’s cooking up today and grab whatever tickles your fancy.
          </p>
          <p><a href="#download" class="btn btn-outline-light">Feed Me</a></p>
        </div>
        <div class="col-md text-center mt-4 mt-md-0">
          <img src="img/benefit-02.png" class="img-fluid rounded benefit-img" data-enter="fadein" style="transform: translateY(70px)">
        </div>
      </div>
    </div>
  </div>

      <div class="block block-main-feature benefit-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md text-center">
          <img src="img/benefit-03.png" class="img-fluid rounded benefit-img" data-enter="fadein" style="transform: translateY(70px)">
        </div>
        <div class="col-md mt-4 mt-md-0">
          <h2>Want the usual? Just tap twice.</h2>
           <p>
             Need a coffee and need it now? Want that sammie you love with loads of extra gherkins?
             No problem, just a couple of taps and your usual’s on the way.
          </p>
          <p><a href="#download" class="btn btn-outline-light">Tap Me</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="block block-main-feature benefit-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md">
          <h2>No wallet, no worries.</h2>
           <p>
             Regulr works just like a tab at your local spots, so you can pick up the goods, say a quick hey and be on your way.
             Then every Sunday, your tab gets settled while you chill.
          </p>
          <p><a href="#download" class="btn btn-outline-light">Get Regulr</a></p>
        </div>
        <div class="col-md text-center mt-4 mt-md-0">
          <img src="img/benefit-04.png" class="img-fluid rounded benefit-img" data-enter="fadein" style="transform: translateY(70px)">
        </div>
      </div>
    </div>
  </div>
</div>
