<div class="block block-download" id="download">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="img/logo-themed-2.svg" width="160" height="160" alt="Logo">
        <h2 class="my-3">Elsa App</h2>
        <div class="content-reviews">
          <span class="icon-star"></span>
          <span class="icon-star"></span>
          <span class="icon-star"></span>
          <span class="icon-star"></span>
          <span class="icon-star"></span>
        </div>
        <div class="mt-4">
          <a href="#"><img src="img/badge-app-store.svg" alt="Download on the App Store" height="50"></a>
          <a href="#"><img src="img/badge-google-play.png" alt="Get it on Google Play" height="50"></a>
        </div>
      </div>
    </div>
  </div>
</div>
