<div id="section-features" class="block block-main-feature block-main-feature-1">
  <div class="text-center mb-5">
    <h2>How it works</h2>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="row my-5">
          <div class="col-md content-feature-sub">
            <img class="feature-icon" src="img/icons/local.svg">
            <h3>Find your local.</h3>
            <p>
              Look up the awesome spots around you and create a list of your favourites.
            </p>
          </div>
          <div class="col-md content-feature-sub">
            <img class="feature-icon" src="img/icons/profile.svg">
            <h3>Make it personal.</h3>
            <p>
              Put a name to your face and an emoji to your name. Show them the real you.
            </p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-md content-feature-sub">
            <img class="feature-icon" src="img/icons/order.svg">
            <h3>Grab your usual.</h3>
            <p>
              Know what you want? Order it in a couple of taps, just the way you like it.
            </p>
          </div>
          <div class="col-md content-feature-sub">
            <img class="feature-icon" src="img/icons/regular.svg">
            <h3>Be a regular.</h3>
            <p>
              Less time at the till means more time chatting with your new mates. Enjoy.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md text-center">
        <img src="img/device-portrait-light.png" alt="Device" class="img-fluid img-device mw-330" data-enter="fadein" style="transform: translateY(70px)">
      </div>
    </div>
    <div class="mt-5 text-center">
      <a href="#download" class="btn btn-lg btn-dark">Get Regulr</a>
    </div>
  </div>
</div>
