<div id="section-for-business" class="block block-footer block-footer-themed">
  <div class="container">
    <!--Subheader -->
    <div class="row justify-content-center">
      <div class="col-md-8 content-subheader">
        <h2>Regulr for Business</h2>
      </div>
    </div>
    <!-- / Subheader -->

    <!-- Link -->
    <div class="row mt-4">
      <div class="col text-center">
        <p>posBoss will hook you up with everything you need to get started on Regulr.</p>
        <a href="http://posbosshq.com/" class="btn btn-lg btn-outline-light">Let's go</a>
      </div>
    </div>
    <!-- / Link -->

  </div>
</div>
