<div id="section-hero">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <a class="navbar-brand" href="#">
          <img class="mr-2" src="img/icons/app-icon-light.svg" width="35" height="35" alt="Logo">regulr
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-4">
            <li class="nav-item">
              <a class="nav-link" href="#section-features">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section-benefits">Why it's great</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section-for-business">Regulr for business</a>
            </li>
          </ul>
          <a href="#download" class="btn btn-outline-light my-2 my-sm-0">Download</a>
        </div>
      </nav>
  <div class="main-hero">
  <div class="main-hero-bg">

      <div class="container">
        <!-- Hero -->
        <div class="row align-items-center py-5 cta">
          <div class="col-md-5 text-center mt-4 mt-md-0"></div>
           <div class="col-md-7 text-center text-md-left">
            <h1 class="mb-4">Get to know your local <span id="js-rotating">café, restaurant, bar</span>.</h1>
            <p>Love your local? Become a regular.</p>
            <div class="row cta-button-group">
              <div class="col-md-auto">
                <a href="#download" class="btn btn-lg btn-outline-light">Free Download</a>
              </div>
              <div class="col-md-auto mt-3 mt-lg-0">
                <a href="#section-features" class="btn btn-lg btn-light">Find out more</a>
              </div>
            </div>
          </div>
        </div>
        <!-- / Hero -->
      </div>
    </div>
  </div>
</div>
