h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}

&.main-hero {
  background-image: none;
}

.main-hero-bg {
  background: url(../img/hero.jpg) center center no-repeat;
}

.container {
  min-height: 540px;
}

.cta {
  margin-top: 4rem;
}

.cta-button-group {
  margin-top: 3rem;
}

.navbar {
  height: 60px;
  background-color: $regulr-red!important;
}
