h1 {
  font-size: 2rem;
  font-weight: 400;
}

&.main-hero {
  background-image: none;
}

.main-hero-bg {
  background: url(../img/hero.jpg) center center no-repeat;
}

.container {
  min-height: 540px;
}

.cta {
  margin-top: 9rem;
}

.cta-button-group {
  // margin-top: 7rem !important;
}

.navbar {
  height: 60px;
  background-color: $regulr-red!important;
}

// .navbar-dark .navbar-nav .nav-link {
//   color: black;

//   &:hover {
//     color: white;
//   }
// }
